<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hello,  {{ username }}.</h1>
    <form method="POST">
        {% csrf_token %}
        <p><input type="file" id="background_image" name="background_image" accept="image/*"></p>
        <p><input type="file" id="logo_image" name="logo_image" accept="image/*"></p>
        <button type="submit">Create Form</button>
    </form>
    <!-- We need to create a dynamic way to add questions and convert them to JSON.
        Also, we need to create a function that will be called when the create form button
        is clicked. That will make a POST REQUEST to the backend with the data of the form -->
</body>
</html>